<div class="container">
    <h1>Quiz app</h1>
    <mat-card class="mainmenu">
        <mat-card-content>
        <div>
            <button mat-stroked-button [routerLink]="['']">New Game</button>
        </div>
        <div>
            <button mat-stroked-button [routerLink]="['']">Leaderbord</button>
        </div>
        <div>
            <button mat-stroked-button [routerLink]="['/managequiz']">Manage quizzes</button>
        </div>
        <div>
            <button mat-stroked-button [routerLink]="['']">Manage questions</button>
        </div>
        </mat-card-content>
    </mat-card>
</div>